  <%- include('../partials/header') %>

  <section id="show-page">
      <div>Airline: </div>
      <div><%= flight.airline %></div>
      <div>Flight No.: </div>
      <div><%= flight.flightNo %></div>
      <div>Depature Date: </div>
      <div><%= flight.depature %></div>
    </section>

    <br>

  <form id='destination' method="POST" action='/flights/<%= flights._id %>/destinations'>
    <label> Destination:</label>
    <select name="destAirport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
      </select>
      <label>Arrival Time:
        <input type="datetime-local" name="arrives">
      </label>	
        <input type='submit' value='Add Destination'>
    </form>

    <br>
    
  <table id="tickets">
      <thead>
        <h3>Add Ticket</h3>
        <tr>
          <th>Seat</th>
          <th>Price</th>
          <th>Flight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(m) { %>
          <tr>
            <td><%= m.seat %></td>
            <td><%= m.price %></td>
            <td><%= m.flight %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

<%- include('../partials/footer') %>