<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Flight No.: </div>
    <div><%= flight.flightNo %></div>
    <div>Depature Date: </div>
    <div><%= flight.departs %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Arrival: </div>
    <div><%= flight.destination %></div>
  </section>

<br><br><h3>ADD DESTINATION</h3>
<form id="add-destination" action="/flights/<%= flight._id%>/destinations" method="POST">
  <label>Destination:</label>
  <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DAL">DAL</option>
      <option value="LAX">LAX</option>
      <option value="SEA">SEA</option>
    </select>
    <label>Arrival Date & Time: </label>	
      <input type="datetime-local" name="arrival">
      <input type='submit' value='Add Destination'>
  </form>
  
  <br><br><h3>ADD TICKETS</h3>
  <form id="add-tickets" action="/flights/<%= flight._id%>/tickets" method="POST">
    <label>Tickets:</label>
      <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>	
      <input type="text" name="price">
    <label>Flight: </label>	
      <input type="text" name="flight">
      <input type="submit" value='Add Destination'>
    </form>

<%- include('../partials/footer') %>